@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
    background-color: #4b8580;
    font-family: 'Poppins';
    font-size: 15px;
    line-height: 1.2;
    overflow: hidden;
}


.container{
    width: 350px;
    height: 100vh;
    max-height: 600px;
    z-index: 2;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.619);
    border-radius: 20px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
}

.chat-head{
    background: #00695C;
    padding: 20px 10px 10px 50px;
    color: #fff;
    position: relative;
    z-index: 2;
    text-align: left;
    text-transform: uppercase;
    border-bottom: 1px solid #111;
    
}

.chat-head h1, .chat-head h2{
    font-weight: normal;
    font-size: 15px;
    margin: 0;
    padding: 0;
}

.chat-head h2{
    color: #ccccccd1;
    font-size: 9px;
    letter-spacing: 1px;

}

.chat-head .avatar{
    position: absolute;
    top: 13px;
    left: 8px;
    width: 35px;
    height: 35px;
    z-index: 1;
    border-radius: 50px;
    overflow: hidden;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    
}

.chat-head .avatar img{
    width: 100%;
    height: auto;
}

.msgs{
    flex: 1 1 auto;
    color: rgb(255, 255, 255);
    overflow: hidden;
    position: relative;
    width: 100%;
    
}

.msg-box{
    flex: 0 1 40px;
    width: 100%;
    background: #00695C;
    color: #fff;
    padding: 17px;
    position: relative;
}

.msg-box .msg-input{
    background: none;
    border: none;
    outline: none !important;
    resize: none;
    color: rgb(255, 252, 252);
    font-size: 15px;
    height: 17px;
    margin: 0;
    padding-right: 20px;
    width: 265px;
}
.msg-box textarea:focus:-webkit-placeholder{
    color: transparent;
}

.msg-box .msg-submit{
    position: absolute;
    z-index: 1;
    top: 5px;
    right: 10px;
    border: none;
    color: #fff;
    background: #248a52;
    cursor: pointer;
    text-transform: uppercase;
    padding: 14px 14px;
    outline: none !important;
    transition: background 0.2s ease;
    border-radius: 25px;
}
.msg-submit i {
  font-size: 17px;
  color: #fff;
}

.msg-box .msg-submit:hover{
    background: #1d7745;
}

.msgs .msgs-content{
    position: absolute;
    top: 0;
    left: 0;
    height: 101%;
    width: 100%;
}

.msgs .msg{
    clear: both;
    float: left;
    padding: 6px 10px 7px;
    border-radius: 10px 10px 10px 0;
    background: rgba(0, 0, 0, 0.3);
    margin: 8px 0;
    font-size: 14px;
    line-height: 1.4;
    margin-left: 35px;
    position: relative;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.msgs .msg .timestamp{
    position: absolute;
    bottom: -15px;
    font-size: 9px;
    color: rgba(255, 255, 255, 0.3);
}

.msgs .msg::before{
    content: "";
    position: absolute;
    bottom: -6px;
    border-top: 6px solid rgba(0, 0, 0, 0.3);
    left: 0;
    border-right: 7px solid transparent;
}

.msgs .msg .avatar{
    position: absolute;
    z-index: 1;
    bottom: -15px;
    left: -35px;
    border-radius: 30px;
    width: 30px;
    height: 30px;
    overflow: hidden;
    margin: 0;
    padding: 0;
    border: 2px solid rgba(255, 255, 255, 0.24);
}

.msgs .msg .avatar img{
    width: 100%;
    height: auto;
}

.msgs .msg.msg-personal{
    float: right;
    color: #fff;
    text-align: right;
    background: linear-gradient(120deg, #248a24, #257287);
    border-radius: 10px 10px 0 10px;
}

.msgs .msg.msg-personal::before{
    left: auto;
    right: 0;
    border-right: none;
    border-left: 5px solid transparent;
    border-top: 4px solid #257287;
    bottom: -4px;
}

.msgs .msg:last-child{
    margin-bottom: 30px;
}

.msgs .msg.new{
    transform: scale(0);
    transform-origin: 0 0;
    animation: bounce 500ms linear both;
    -webkit-animation: bounce 500ms linear both;
}

.msgs .msg.loading::before{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: "";
    display: block;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.5);
    z-index: 2;
    margin-top: 4px;
    animation: ball 0.45s cubic-bezier(0, 0, 0.15, 1) alternate infinite;
    -webkit-animation: ball 0.45s cubic-bezier(0, 0, 0.15, 1) alternate infinite;
    border: none;
    animation-delay: 0.15s;
    -webkit-animation-delay: 0.15s;
}

.msgs .msg.loading span{
    display: block;
    font-size: 0;
    width: 20px;
    height: 10px;
    position: relative;
}

.msgs .msg.loading span::before{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: "";
    display: block;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.5);
    z-index: 2;
    margin-top: 4px;
    margin-left: -7px;
    animation: ball 0.45s cubic-bezier(0, 0, 0.15, 1) alternate infinite;
    -webkit-animation: ball 0.45s cubic-bezier(0, 0, 0.15, 1) alternate infinite;
}

.msgs .msg.loading span::after{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: "";
    display: block;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.5);
    z-index: 2;
    margin-top: 4px;
    margin-left: 7px;
    animation: ball 0.45s cubic-bezier(0, 0, 0.15, 1) alternate infinite;
    -webkit-animation: ball 0.45s cubic-bezier(0, 0, 0.15, 1) alternate infinite;
    animation-delay: 0.3s;
    -webkit-animation-delay: 0.3s;
}

.mCSB_scrollTools{
    margin: 1px -3px 1px 0;
    opacity: 0;
}

.mCSB_inside > .mCSB_container{
    margin-right: 0;
    padding: 0 10px;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
    background-color: rgba(0, 0, 0, 0.5) !important;
}

@-webkit-keyframes bounce {
  0% {
    transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  4.7% {
    transform: matrix3d(0.45, 0, 0, 0, 0, 0.45, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  9.41% {
    transform: matrix3d(0.883, 0, 0, 0, 0, 0.883, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  14.11% {
    transform: matrix3d(1.141, 0, 0, 0, 0, 1.141, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  18.72% {
    transform: matrix3d(1.212, 0, 0, 0, 0, 1.212, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  24.32% {
    transform: matrix3d(1.151, 0, 0, 0, 0, 1.151, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  29.93% {
    transform: matrix3d(1.048, 0, 0, 0, 0, 1.048, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  35.54% {
    transform: matrix3d(0.979, 0, 0, 0, 0, 0.979, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  41.04% {
    transform: matrix3d(0.961, 0, 0, 0, 0, 0.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  52.15% {
    transform: matrix3d(0.991, 0, 0, 0, 0, 0.991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  63.26% {
    transform: matrix3d(1.007, 0, 0, 0, 0, 1.007, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  85.49% {
    transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  100% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}
@keyframes bounce {
  0% {
    transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  4.7% {
    transform: matrix3d(0.45, 0, 0, 0, 0, 0.45, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  9.41% {
    transform: matrix3d(0.883, 0, 0, 0, 0, 0.883, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  14.11% {
    transform: matrix3d(1.141, 0, 0, 0, 0, 1.141, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  18.72% {
    transform: matrix3d(1.212, 0, 0, 0, 0, 1.212, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  24.32% {
    transform: matrix3d(1.151, 0, 0, 0, 0, 1.151, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  29.93% {
    transform: matrix3d(1.048, 0, 0, 0, 0, 1.048, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  35.54% {
    transform: matrix3d(0.979, 0, 0, 0, 0, 0.979, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  41.04% {
    transform: matrix3d(0.961, 0, 0, 0, 0, 0.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  52.15% {
    transform: matrix3d(0.991, 0, 0, 0, 0, 0.991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  63.26% {
    transform: matrix3d(1.007, 0, 0, 0, 0, 1.007, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  85.49% {
    transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  100% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}
@-webkit-keyframes ball {
  from {
    transform: translateY(0) scaleY(0.8);
  }
  to {
    transform: translateY(-10px);
  }
}
@keyframes ball {
  from {
    transform: translateY(0) scaleY(0.8);
  }
  to {
    transform: translateY(-10px);
  }
}